$dark-primary-color: #5d4037;
$light-primary-color: #d7ccc8;
$primary-color: #795548;
$text-icons: #ffffff;
$accent-color: #ffc107;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;
$background-color: #ecf3ef;
$font: 'Lato', sans-serif;
