.container {
  display: grid;
  grid-template: 50vh 20vh 1fr 7vh 10vh / 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: $background-color;
  font-family: $font;
  &__header {
    width: 90vw;
    display: inline-block;
    justify-self: center;
    align-self: center;
    font-size: 22px;
    text-align: center;
  }
}

.mainContent {
  margin: 30px 0 60px;
  &__header {
    margin-bottom: 50px;
    width: 100%;
    display: inline-block;
    font-size: 18px;
    text-align: center;
  }
  &__article {
    margin: 0 auto 10vh;
    width: 80vw;
  }
  &__image {
    width: 80vw;
  }
  &__text {
    margin: 10px 0 30px;
  }
  &__date {
    font-size: 12px;
  }
  &__seeMore {
    height: 30px;
    text-align: center;
  }
  &__link {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    height: 30px;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 22px;
    color: $accent-color;
    animation: moveArrow 2s linear infinite;
  }
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50%);
  }

  75% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}
