.article {
  margin: 0 auto 10vh;
  width: 80vw;
  @include mq(small) {
    margin: 5vh 0;
    width: 30vw;
    align-self: center;
    justify-self: center;
  }
  @include mq(large) {
    width: 27vw;
  }
  &__image {
    width: 80vw;
    @include mq(small) {
      width: 30vw;
    }
    @include mq(large) {
      width: 27vw;
    }
  }
  &__text {
    margin: 10px 0 30px;
    @include mq(large) {
      font-size: 18px;
    }
  }
  &__date {
    font-size: 12px;
    @include mq(large) {
      font-size: 14px;
    }
  }
}
