.burger {
  position: fixed;
  top: 15px;
  right: 25px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  z-index: 2;
  cursor: pointer;
  i {
    color: $accent-color;
    font-size: 25px;
  }
}
