.header {
  display: grid;
  grid-template: 20% 80% / 100%;
  @include mq(small) {
    grid-template: 30% 70% / 100%;
  }
  @include mq(large) {
    grid-template: 20% 15% 65% / 100%;
  }
  &__title {
    padding-left: 7vw;
    font-size: 23px;
    align-self: center;
    text-transform: uppercase;
    @include mq(large) {
      padding-left: 5vw;
      font-size: 35px;
    }
  }
  &__image {
    height: 40vh;
    width: 100%;
    background-image: url('../assets/churchHeader.jpg');
    background-size: cover;
    background-position: center;
    @include mq(small) {
      height: 42vh;
      background-position: 50% 80%;
    }
    @include mq(large) {
      height: 100%;
      grid-row: 3/4;
      background-position: 50% 80%;
    }
  }
}
