.mainNavigation {
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 100vw;
  padding: 10vh 0 10vh 10vw;
  background-color: $primary-text;
  z-index: 1;
  @include mq(large) {
    position: absolute;
    left: 0;
    top: 12vh;
    height: 9vh;
    width: 100%;
    padding: 0 5vw;
    background-color: transparent;
  }
  &__list {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include mq(small) {
      height: 85%;
    }
    @include mq(large) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__item {
    &--desktop {
      display: none;
      @include mq(large) {
        display: inline-block;
      }
    }
  }
  &__link {
    color: $text-icons;
    text-transform: uppercase;
    text-decoration: none;
    @include mq(large) {
      color: $primary-text;
      font-size: 12px;
      transition: 0.5s;
      &:hover {
        color: $dark-primary-color;
        &:after {
          content: '';
          display: block;
          left: 0;
          bottom: 20px;
          width: 100%;
          height: 3px;
          background-color: $dark-primary-color;
        }
      }
    }
    @include mq(extra-large) {
      font-size: 16px;
    }
    &--active {
      color: $accent-color;
      @include mq(large) {
        color: $dark-primary-color;
        &:after {
          content: '';
          display: block;
          left: 0;
          bottom: 20px;
          width: 100%;
          height: 3px;
          background-color: $dark-primary-color;
        }
      }
    }
  }
}
